body {
    background-color: rgb(208, 231, 231);
}

#bienvenida {
    color: rgb(104, 57, 148);
    text-align: center;
    font-size: 150%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: oblique;
}

#boton {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    width: 13%; 
    border-radius: 100%;
    cursor: pointer;
    margin-top: 1%;
}

#mensaje {
    margin-bottom: 1%;
}

#textoEntrada {
    text-align: center;
}

#desplazamiento {
    margin-bottom: 0.5%;
}

#numDesplaz {
    text-align: center;
    margin-bottom: 2%;
}

#botonCifrado {
    text-align: center;
    cursor: pointer;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 90%;
    width: 10%;
}

#botonDescifrado {
    cursor: pointer;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 90%;
    width: 10%;
}

#mensaje2 {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 1%;
}

#textoSalida {
    text-align: center
}

div {
    color: #750505;
    text-align: center;
    font-size: 100%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding-top: 4%;
}