/* Utilizamos los id para el diseño de la página */
body {
    background-color: rgb(254, 255, 194);
}

#welcome {
    color: rgb(73, 37, 107);
    text-align: center;
    font-size: 160%;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-style: oblique;
}

#concept {
    color: rgb(73, 37, 107);
    text-align: center;
    font-size: 120%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    padding-top: 1%;
    padding-right: 20%;
    padding-left: 20%;
}

#boton {
    background-color: rgb(73, 37, 107);
    font-size: 110%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 15%; 
    color: rgb(255, 255, 255);
    border: none;
    border-radius: 120%;
    cursor: pointer;
    margin-top: 3%;
}

#message {
    margin-bottom: 1%;
}

#entryText {
    text-align: center;
    border-color: rgb(73, 20, 7);
    background-color: rgb(255, 255, 254);
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
}

#positions {
    margin-bottom: 0.5%;
}

#offset {
    text-align: center;
    border-color: rgb(102, 68, 59);
    background-color: rgb(255, 255, 254);
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
    margin-bottom: 2%;
}

.btn {
    cursor: pointer;
    color: rgb(43, 3, 80);
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    font-size: 90%;
    width: 10%;
    border-color: rgb(102, 68, 59);
    background-color: rgb(224, 192, 131);
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
}

#message2 {
    text-align: center;
    margin-top: 3%;
    margin-bottom: 1%;
}

#exitText {
    text-align: center;
    border-color: rgb(73, 20, 7);
    background-color: rgb(255, 255, 254);
    border-bottom-left-radius: 15%;
    border-bottom-right-radius: 15%;
    border-top-left-radius: 15%;
    border-top-right-radius: 15%;
}

div {
    color: #750505;
    text-align: center;
    font-size: 100%;
    font-family: "Palatino Linotype", "Book Antiqua", Palatino, serif;
    padding-top: 4%;
}